<div class="container">
	<div class="lists_display">
		<% @case.each do |law| %>
			<a href="<%= case_path(law) %>">
				<div class="list_view">
				 	<h4>
				 		<% if law.title? %>
					 		<%= law.title %>
			 			<% else %>
			 			<span id="no_title_yellow">
			 				No Title As off <%= Date.today %>
			 			</span>
				 		<% end %>
			 		</h4>
				 	<p id="simplecontent">
				 		<% if law.content? %>
				 			<%= truncate(law.content, length: 200) %>
			 			<% else %>
			 				<span id="no_content_red">
				 				No content as of <%= Date.today %>
				 			</span>
				 		<% end %>
				 			
			 		</p>	
				</div>
			</a>		
		  
		<% end %>

	</div>

</div>