<div class="container">
	<div class="small_container">

		<div>
		  <strong>Case Name</strong> <br>
		  <h1 id="title"><%= @case.title %></h1>
		</div>

		<% if @case.content? %>
		<div>

			<strong>Facts and Judgment </strong>
			<br>
			
			<div id="content">
			  <%= @case.content %>
			</div>

		</div>
		<% end %>

		<hr>

		<strong id="birth_mark">Similer Cases</strong>


		<div class="related_cases">
			<% @related_cases.each do |c| %>
				<a href="<%= case_path(c)%>">
					<div class="item">
						<h5><%= c.title %></h5>
						<%= truncate(c.content, length: 100) %>
					</div>
				</a>
			<% end %>


		</div>
	</div>
</div>