<p id="notice"><%= notice %></p>
<style>

.topnav {
  overflow: hidden;
  background-color:  #17b0cf;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #17b0cf;
  color: red;
}

.topnav a.active {
   background-color: white 
  color: white;
}

body{
	 background-color:  #17b0cf;
	 font-size: large;
}
p {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}
#logo{
  font-family: 'Hind', sans-serif;
  font-size: 50px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4; 
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  color: white;

}
</style>
<div class="topnav">
  <a id="logo"> Lawinfo</a>
  <a class="active">  <%= link_to 'Home', cases_path %></a>
  </div>
<body>
<p>
  <strong>Case Name</strong>
  <%= @case.title %>
</p>

<p>
  <strong>Facts and Judgment </strong>
  <%= @case.content %>
</p>

</body>


<%= link_to 'Back', cases_path %>

